<h2>Save contact</h2>
<hr />
<form novalidate role="form" name="addCOForm" ng-submit="Submit()">
    <div class="form-group">
        <label for="SAK_CSR">CO ID: </label>
        <input type="text" name="SAK_CSR" ng-model="Contact.SAK_CSR" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(addCOForm.SAK_CSR.$dirty || IsFormSubmitted) && addCOForm.SAK_CSR.$error.required">Contact Name required.</span>
    </div>
    <div class="form-group">
        <label for="NAM">CO NAME: </label>
        <input type="text" name="NAM" ng-model="Contact.NAM" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(addCOForm.NAM.$dirty || IsFormSubmitted) && addCOForm.NAM.$error.required">Contact No required.</span>
    </div>
  
    <div class="form-group">
        <label for="DSC">DESC: </label>
        <textarea name="DSC" ng-model="Contact.DSC" class="form-control"></textarea>
        

    </div>
    <div class="form-group">
    <label for="DSC">CoTypes: </label>
         
          
        <select name="COTypes" required class="form-control"
                data-ng-model="Contact.SAK_CSR_TYPE"
                data-ng-options="COTypes.SAK_CSR_TYPE as COTypes.DSC for COTypes in COTypes">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="DSC">Group: </label>
         
        <select name="DSC" required class="form-control"
                data-ng-model="Contact.SAK_CO_GROUPING"
                data-ng-options="Groups.SAK_CO_GROUPING as Groups.NAM for Groups in Groups">
            <option value=""></option>
        </select>
        <!--track by Groups.NAM-->
        
    </div>ddddz

    <div>
        test date :
        <input id="date-birth" class="form-control" type="date" ng-model="myDate">
        Release Date:
        <div layout-gt-xs="row">
            <div flex-gt-xs>
                <h4>Standard date-picker</h4>
                <md-datepicker ng-model="Contact.DTE_DUE" md-placeholder="Enter date"></md-datepicker>
            </div>
        </div>
        <hr />
        <div>
            From date :
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
             To Date:<md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                           required md-min-date="minDate" md-max-date="maxDate"
                           md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        </div> 
        </div>
    <input type="submit" class="btn btn-default" />

</form>
