<h4>CO List</h4>

<hr/>
<table class="table table-responsive">
    <tr>
        <th>SAK_CSR</th>
        <th>CO Name</th>
        <th>SAK_PARTICIPANT</th>
        
        <th>DSC</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="contact in contacts">
        <td ng-bind="contact.SAK_CSR"></td>
        <td ng-bind="contact.NAM"></td>
        <td ng-bind="contact.SAK_PARTICIPANT"></td>
        
        <td ng-bind="contact.DSC"></td>
        <td><a href="#/savecontact/{{contact.SAK_CSR}}">Edit</a></td>
        <td><a target="_self" ng-click="DeleteContact(contact.SAK_CSR)">Delete</a></td>
    </tr>
</table>
