<h2>Save contact</h2>
<hr />
<form novalidate role="form" name="contactForm" ng-submit="Submit()">
    <div class="form-group">
        <label for="SAK_CSR">SAK ID: </label>
        <input type="text" name="SAK_CSR" ng-model="Contact.SAK_CSR" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(contactForm.SAK_CSR.$dirty || IsFormSubmitted) && contactForm.SAK_CSR.$error.required">Contact Name required.</span>
    </div>
    <div class="form-group">
        <label for="NAM">CO NAM: </label>
        <input type="text" name="NAM" ng-model="Contact.NAM" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control" required />
        <span class="error"
              ng-show="(contactForm.NAM.$dirty || IsFormSubmitted) && contactForm.NAM.$error.required">Contact No required.</span>
    </div>
    <div class="form-group">
        <label for="SAK_PARTICIPANT">COTypes: </label>
        <input type="text" name="SAK_CSR_TYPE" ng-model="Contact.SAK_CSR_TYPE" ng-class="IsFormSubmitted ? 'ng-dirty' : ''"
               class="form-control"  />
        <span class="error"
              ng-show="(contactForm.SAK_CSR_TYPE.$dirty || IsFormSubmitted) && contactForm.SAK_CSR_TYPE.$error.email">Invalid SAK_CSR_TYPE.</span>        
    </div>
    <div class="form-group">
        <label for="DSC">DESC: </label>
        <textarea name="DSC" ng-model="Contact.DSC" class="form-control"></textarea>
        

    </div>
    <div class="form-group">
    <label for="DSC">CoTypes: </label>
         
        <select class="form-control">
            <option ng-repeat="x in COTypes">{{x.DSC}}</option>
        </select>

        <select name="COTypes" required class="form-control"
                data-ng-model="Contact.SAK_CSR_TYPE"
                data-ng-options="COTypes.SAK_CSR_TYPE as COTypes.DSC for COTypes in COTypes">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label for="DSC">Group: </label>
         
        <select name="DSC" required class="form-control"
                data-ng-model="Contact.SAK_CO_GROUPING"
                data-ng-options="Groups.SAK_CO_GROUPING as Groups.NAM for Groups in Groups">
            <option value=""></option>
        </select>

        <!--<select class="form-control">
            <option ng-repeat="x in Groups">{{x.NAM}}</option>
        </select>-->
    </div>

    <div>
        test date :
        <input id="date-birth" class="form-control" type="date" ng-model="myDate">

        <div layout-gt-xs="row">
            <div flex-gt-xs>
                <h4>Standard date-picker</h4>
                <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            </div>
            test date :
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
            <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                           required md-min-date="minDate" md-max-date="maxDate"
                           md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        </div>
        </div>
    <input type="submit" class="btn btn-default" />

</form>
